@use "shared.scss";
@use "bluetheme.scss";
@use "greentheme.scss";
@use "mixins.scss";

.new-app-container {
  font-family: shared.$font-sans-serif;
  gap: 10px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  .new-app-heading {
    font-size: shared.$font-size-heading;
    font-weight: bold;
    margin-bottom: 8px;
  }
  .new-app-input {
    position: relative;
    input[type="text"],
    .job-info-textarea {
      border: none;
      font-size: 16px;
      padding: 15px 10px 15px 20px;
      width: 100%;
      border-radius: 10px;
    }
    .job-info-textarea {
      height: 200px;
    }
    .radio-options {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 5px;
      .radio-input {
        cursor: pointer;
        padding: 10px 15px;
        border-radius: 50px;
        margin: 5px 0;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        &.active {
          transition: 250ms;
        }
      }
    }
  }
  .form-actions {
    display: flex;
    justify-content: space-between;
    .submit-btn,
    .cancel-btn,
    .delete-btn {
      cursor: pointer;
      font-weight: 500;
      padding: 16px;
      border-radius: 10px;
      display: flex;
      align-items: center;
      gap: 5px;
      svg {
        width: 15px;
      }
    }
  }
  // light blue theme
  &.lightblue {
    .new-app-heading {
      color: bluetheme.$theme-light-addapp-header-color;
    }
    .new-app-input {
      input[type="text"],
      .job-info-textarea {
        background-color: bluetheme.$theme-light-addapp-input-bg;
      }
      .radio-options {
        .radio-input {
          background-color: bluetheme.$theme-light-addapp-radio-inactive-bg;
          color: bluetheme.$theme-light-addapp-radio-inactive-text;
          &.active {
            background-color: bluetheme.$theme-light-btn-bg-color;
            color: bluetheme.$theme-light-btn-text-color;
          }
        }
      }
    }
    .form-actions {
      .submit-btn,
      .cancel-btn {
        @include mixins.themeButton(
          bluetheme.$theme-light-btn-bg-color,
          bluetheme.$theme-light-btn-text-color
        );
      }
      .delete-btn {
        @include mixins.themeButton(
          bluetheme.$theme-light-red-btn-bg-color,
          bluetheme.$theme-light-red-btn-text-color
        );
      }
    }
  }

  // dark blue theme
  &.darkblue {
    .new-app-heading {
      color: bluetheme.$theme-dark-addapp-header-color;
    }
    .new-app-input {
      input[type="text"],
      .job-info-textarea {
        background-color: bluetheme.$theme-dark-addapp-input-bg;
      }
      .radio-options {
        .radio-input {
          background-color: bluetheme.$theme-dark-addapp-radio-inactive-bg;
          color: bluetheme.$theme-dark-addapp-radio-inactive-text;
          &.active {
            background-color: bluetheme.$theme-dark-btn-bg-color;
            color: bluetheme.$theme-dark-btn-text-color;
          }
        }
      }
    }
    .form-actions {
      .submit-btn,
      .cancel-btn {
        @include mixins.themeButton(
          bluetheme.$theme-dark-btn-bg-color,
          bluetheme.$theme-dark-btn-text-color
        );
      }
      .delete-btn {
        @include mixins.themeButton(
          bluetheme.$theme-dark-red-btn-bg-color,
          bluetheme.$theme-dark-red-btn-text-color
        );
      }
    }
  }

  // light green
  &.lightgreen {
    .new-app-heading {
      color: greentheme.$theme-light-addapp-header-color;
    }
    .new-app-input {
      input[type="text"],
      .job-info-textarea {
        background-color: greentheme.$theme-light-addapp-input-bg;
      }
      .radio-options {
        .radio-input {
          background-color: greentheme.$theme-light-addapp-radio-inactive-bg;
          color: greentheme.$theme-light-addapp-radio-inactive-text;
          &.active {
            background-color: greentheme.$theme-light-btn-bg-color;
            color: greentheme.$theme-light-btn-text-color;
          }
        }
      }
    }
    .form-actions {
      .submit-btn,
      .cancel-btn {
        @include mixins.themeButton(
          greentheme.$theme-light-btn-bg-color,
          greentheme.$theme-light-btn-text-color
        );
      }
      .delete-btn {
        @include mixins.themeButton(
          greentheme.$theme-light-red-btn-bg-color,
          greentheme.$theme-light-red-btn-text-color
        );
      }
    }
  }

  // dark blue theme
  &.darkgreen {
    .new-app-heading {
      color: greentheme.$theme-dark-addapp-header-color;
    }
    .new-app-input {
      input[type="text"],
      .job-info-textarea {
        background-color: greentheme.$theme-dark-addapp-input-bg;
      }
      .radio-options {
        .radio-input {
          background-color: greentheme.$theme-dark-addapp-radio-inactive-bg;
          color: greentheme.$theme-dark-addapp-radio-inactive-text;
          &.active {
            background-color: greentheme.$theme-dark-btn-bg-color;
            color: greentheme.$theme-dark-btn-text-color;
          }
        }
      }
    }
    .form-actions {
      .submit-btn,
      .cancel-btn {
        @include mixins.themeButton(
          greentheme.$theme-dark-btn-bg-color,
          greentheme.$theme-dark-btn-text-color
        );
      }
      .delete-btn {
        @include mixins.themeButton(
          greentheme.$theme-dark-red-btn-bg-color,
          greentheme.$theme-dark-red-btn-text-color
        );
      }
    }
  }
}

.sdp {
  position: absolute;
  background-color: #fff !important;
  z-index: 2;
  left: 50%;
  transform: translateX(-50%);
  border: 1px solid rgb(216, 216, 216) !important;
  --theme-color: #cacaca !important;
  --font: shared.$font-sans-serif !important;
}
