@use "shared.scss";
@use "bluetheme.scss";

.category-container {
  display: flex;
  align-items: center;
  gap: 7px;
  cursor: pointer;
  padding: 10px 15px;
  border-radius: 50px;
  width: 100%;
  .cat-count {
    border-radius: 50px;
    font-size: 12px;
    color: #fff;
    min-width: 25px;
    min-height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  h3 {
    font-size: 15px;
    font-weight: 600;
  }
  &.lightblue {
    color: bluetheme.$theme-light-menu-text;
    .cat-count {
      background-color: bluetheme.$theme-light-category-count-bg;
    }
    &.active {
      background-color: bluetheme.$theme-light-category-active-bg;
    }
  }
  // dark blue theme
  &.darkblue {
    color: bluetheme.$theme-dark-menu-text;
    .cat-count {
      background-color: bluetheme.$theme-dark-category-count-bg;
    }
    &.active {
      background-color: bluetheme.$theme-dark-category-active-bg;
    }
  }
}
