@use "shared.scss";

.category-container {
  display: flex;
  align-items: center;
  gap: 7px;
  cursor: pointer;
  padding: 10px 15px;
  border-radius: 50px;
  width: 100%;
  svg {
    width: 18px;
  }
  h3 {
    font-size: 15px;
    font-weight: 600;
  }
  &.light {
    color: shared.$theme-light-header;
    &.active {
      svg {
        fill-rule: evenodd;
      }
    }
  }

  &.blue {
    &.active {
      background-color: shared.$theme-light-btn-bg-blue;
      svg {
        fill: shared.$theme-light-dark-blue-text-btn;
      }
    }
    svg {
      color: shared.$theme-light-dark-blue-text-btn;
    }
  }
}
