@use "shared.scss";

$left-padding: 25px;

.content-container {
  display: flex;
  flex-direction: column;
  padding: 15px;
  border-radius: 15px;
  .content-header {
    display: flex;
    justify-content: space-between;
    font-size: shared.$font-size-heading;
    font-weight: 600;
    margin-bottom: 10px;
    color: shared.$theme-light-header;
  }
  .table-header,
  .table-row {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 5px;
    grid-row-gap: 0px;
    font-family: shared.$font-sans-serif;
    background-color: #fff;
    border-radius: 5px;
    padding: 18px 0;
    padding-left: $left-padding;
    padding-right: $left-padding;
  }

  .table-header {
    color: #686868;
    font-weight: 600;
    margin-bottom: 0;
  }

  .table-row {
    &:nth-child(odd) {
      background-color: shared.$theme-light-bg-blue;
    }
    &:nth-child(even) {
      background-color: #fff;
    }
  }
}
