@use "shared.scss";
@use "bluetheme.scss";
@use "greentheme.scss";

$left-padding: 25px;

.content-container {
  display: flex;
  flex-direction: column;
  padding: 20px 15px;
  border-radius: 15px;
  overflow: auto;
  .content-header {
    display: flex;
    justify-content: space-between;
    font-size: shared.$font-size-heading;
    font-weight: 600;
    margin-bottom: 10px;
    .header-title {
      display: flex;
      align-items: center;
      gap: 20px;
      flex-basis: 85%;
      .searchbar {
        border: none;
        font-size: 16px;
        padding: 15px 10px 15px 20px;
        border-radius: 10px;
        flex-basis: 60%;
      }
      h3 {
        flex-direction: 30%;
      }
    }
    .header-settings {
      flex-basis: 15%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      svg {
        width: 25px;
      }
    }
  }

  .table-header,
  .table-row {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 5px;
    grid-row-gap: 0px;
    font-family: shared.$font-sans-serif;
    border-radius: 5px;
    padding: 18px 0;
    padding-left: $left-padding;
    padding-right: $left-padding;
    &:nth-child(even) {
      background-color: transparent;
    }
  }

  .table-header {
    font-weight: 600;
    margin-bottom: 0;
  }

  .table-row {
    cursor: pointer;
    .header-item {
      img {
        width: 24px;
        opacity: 0.7;
      }
    }
  }
  &.lightblue {
    .content-header {
      color: bluetheme.$theme-light-header-text;
      .header-title {
        .searchbar {
          background-color: bluetheme.$theme-light-table-searchbar-bg;
        }
      }
    }
    .table-header,
    .table-row {
      background-color: transparent;
    }

    .table-header {
      color: bluetheme.$theme-light-table-header-text-color;
    }

    .table-row {
      color: bluetheme.$theme-light-table-row-text;
      &:nth-child(odd) {
        background-color: bluetheme.$theme-light-table-row-bg;
      }
    }
  }
  // dark blue theme
  &.darkblue {
    .content-header {
      color: bluetheme.$theme-dark-header-text;
      .header-title {
        .searchbar {
          background-color: bluetheme.$theme-dark-table-searchbar-bg;
        }
      }
    }
    .table-header,
    .table-row {
      background-color: transparent;
    }

    .table-header {
      color: bluetheme.$theme-dark-table-header-text-color;
    }

    .table-row {
      color: bluetheme.$theme-dark-table-row-text;
      &:nth-child(odd) {
        background-color: bluetheme.$theme-dark-table-row-bg;
      }
    }
  }
  // light green theme
  &.lightgreen {
    .content-header {
      color: greentheme.$theme-light-header-text;
      .header-title {
        .searchbar {
          background-color: greentheme.$theme-light-table-searchbar-bg;
        }
      }
    }
    .table-header,
    .table-row {
      background-color: transparent;
    }

    .table-header {
      color: greentheme.$theme-light-table-header-text-color;
    }

    .table-row {
      color: greentheme.$theme-light-table-row-text;
      &:nth-child(odd) {
        background-color: greentheme.$theme-light-table-row-bg;
      }
    }
  }
  // dark green theme
  &.darkgreen {
    .content-header {
      color: greentheme.$theme-dark-header-text;
      .header-title {
        .searchbar {
          background-color: greentheme.$theme-dark-table-searchbar-bg;
        }
      }
    }
    .table-header,
    .table-row {
      background-color: transparent;
    }

    .table-header {
      color: greentheme.$theme-dark-table-header-text-color;
    }

    .table-row {
      color: greentheme.$theme-dark-table-row-text;
      &:nth-child(odd) {
        background-color: greentheme.$theme-dark-table-row-bg;
      }
    }
  }
}
