@use "shared.scss";

$left-padding: 25px;

.content-container {
  display: flex;
  flex-direction: column;
  padding: 20px 15px;
  border-radius: 15px;
  overflow: auto;
  .content-header {
    display: flex;
    justify-content: space-between;
    font-size: shared.$font-size-heading;
    font-weight: 600;
    margin-bottom: 10px;
    .header-title {
      display: flex;
      align-items: center;
      gap: 20px;
      flex-basis: 85%;
      .searchbar {
        background-color: #f6f6f6;
        border: none;
        font-size: 16px;
        padding: 15px 10px 15px 20px;
        border-radius: 10px;
        flex-basis: 60%;
      }
      h3 {
        flex-direction: 30%;
      }
    }
    .header-settings {
      flex-basis: 15%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      svg {
        width: 25px;
      }
    }
  }

  .table-header,
  .table-row {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 5px;
    grid-row-gap: 0px;
    font-family: shared.$font-sans-serif;
    border-radius: 5px;
    padding: 18px 0;
    padding-left: $left-padding;
    padding-right: $left-padding;
  }

  .table-header {
    font-weight: 600;
    margin-bottom: 0;
  }

  .table-row {
    cursor: pointer;
    svg {
      width: 19px;
    }
  }
  &.light {
    .content-header {
      color: shared.$theme-light-header;
    }
    .table-header,
    .table-row {
      background-color: #fff;
    }

    .table-header {
      color: #686868;
    }

    .table-row {
      &:nth-child(even) {
        background-color: #fff;
      }
    }
  }

  &.blue {
    .table-row {
      &:nth-child(odd) {
        background-color: shared.$theme-light-bg-blue;
      }
    }
  }
}
