@use "shared.scss";

.dashboard-container {
  font-family: shared.$font-sans-serif;
  position: relative;
  width: 100%;
  height: 100vh;
  display: grid;
  padding: 15px;
  grid-template-columns: 255px 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 15px;
  grid-row-gap: 0px;
  overflow: hidden;

  /* Styles for sidebar */
  > :nth-child(1) {
    width: 100%;
    height: 100%;
  }
  &.light {
    /* Styles for content */
    > :nth-child(2) {
      background-color: #fff;
    }
  }
  &.dark {
    > :nth-child(2) {
      background-color: #fff;
    }
  }
  &.blue {
    background-color: shared.$theme-light-bg-blue;
  }
}
