@use "shared.scss";
@use "bluetheme.scss";
@use "greentheme.scss";

.dashboard-container {
  font-family: shared.$font-sans-serif;
  position: relative;
  width: 100%;
  height: 100vh;
  display: grid;
  padding: 15px;
  grid-template-columns: 255px 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 15px;
  grid-row-gap: 0px;
  overflow: hidden;

  /* Styles for sidebar */
  > :nth-child(1) {
    width: 100%;
    height: 100%;
  }
  &.lightblue {
    /* Styles for content */
    background-color: bluetheme.$theme-light-bg-themeColor;
    > :nth-child(2) {
      background-color: #fff;
    }
  }

  // dark blue theme
  &.darkblue {
    /* Styles for content */
    background-color: bluetheme.$theme-dark-bg-themeColor;
    > :nth-child(2) {
      background-color: bluetheme.$theme-dark-content-bg-themeColor;
    }
  }
  // light green
  &.lightgreen {
    /* Styles for content */
    background-color: greentheme.$theme-light-bg-themeColor;
    > :nth-child(2) {
      background-color: #fff;
    }
  }

  // dark green theme
  &.darkgreen {
    /* Styles for content */
    background-color: greentheme.$theme-dark-bg-themeColor;
    > :nth-child(2) {
      background-color: greentheme.$theme-dark-content-bg-themeColor;
    }
  }
}
