@use "shared.scss";
@use "bluetheme.scss";
@use "greentheme.scss";

$menu-padding: 10px;

.dropdown-container {
  display: flex;
  flex-direction: column;
  .dropdown-header {
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: $menu-padding;
    margin-bottom: 10px;
  }
  .dropdown-list {
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1px;
    .new-list-item {
      display: flex;
      align-items: center;
      gap: 5px;
      padding: 10px $menu-padding;
      cursor: pointer;
      position: relative;
      span {
        font-size: 15px;
      }
      svg {
        width: 18px;
        position: absolute;
        left: 5%;
        top: 50%;
        transform: translateY(-50%);
      }
      input {
        padding-left: 9%;
      }
    }
    .dropdown-item {
      box-sizing: border-box;
      cursor: pointer;
      padding: 15px $menu-padding;
    }
    &.hidden {
      display: none;
    }
  }
  &.lightblue {
    color: bluetheme.$theme-light-dropdown-text;
    .dropdown-header {
      background-color: bluetheme.$theme-light-dropdown-bg;
    }
    .dropdown-list {
      background-color: transparent;
      border: 1px solid #e3e3e3;
      .dropdown-item {
        &:hover {
          background-color: bluetheme.$theme-light-dropdown-focus-item;
        }
      }
      .new-list-item {
        &:hover {
          background-color: transparent;
        }
      }
    }
  }
  &.darkblue {
    color: bluetheme.$theme-dark-dropdown-text;
    .dropdown-header {
      background-color: bluetheme.$theme-dark-dropdown-bg;
    }
    .dropdown-list {
      background-color: transparent;
      border: 1px solid #e3e3e3;
      .dropdown-item {
        &:hover {
          background-color: bluetheme.$theme-dark-dropdown-focus-item;
        }
      }
      .new-list-item {
        &:hover {
          background-color: transparent;
        }
      }
    }
  }
  // light green theme
  &.lightgreen {
    color: greentheme.$theme-light-dropdown-text;
    .dropdown-header {
      background-color: greentheme.$theme-light-dropdown-bg;
    }
    .dropdown-list {
      background-color: transparent;
      border: 1px solid #e3e3e3;
      .dropdown-item {
        &:hover {
          background-color: greentheme.$theme-light-dropdown-focus-item;
        }
      }
      .new-list-item {
        &:hover {
          background-color: transparent;
        }
      }
    }
  }
  // dark green theme
  &.darkgreen {
    color: greentheme.$theme-dark-dropdown-text;
    .dropdown-header {
      background-color: greentheme.$theme-dark-dropdown-bg;
    }
    .dropdown-list {
      background-color: transparent;
      border: 1px solid #e3e3e3;
      .dropdown-item {
        &:hover {
          background-color: greentheme.$theme-dark-dropdown-focus-item;
        }
      }
      .new-list-item {
        &:hover {
          background-color: transparent;
        }
      }
    }
  }
}
