// ---- Dark mode & Light mode GREEN VERSION -----

// Light---------------------------------------------------------

// Dashboard
$theme-light-bg-themeColor: #eefff1;

// Menu
$theme-light-menu-text: #3a414a;
$theme-light-action-button-bg: #228b40;
$theme-light-action-button-text: #fff;
$theme-light-category-active-bg: #cefbd6;
$theme-light-category-count-bg: #77d387;
$theme-light-footer-menu-bg: $theme-light-category-active-bg;
$theme-light-settings-menu-bg: #fff;
$theme-light-settings-menu-active-bg: #ebebeb;
$theme-light-settings-menu-text-color: #575757;

// Content
$theme-light-bg-white: #fff;
$theme-light-header-text: #3a414a;
$theme-light-table-header-bg: transparent;
$theme-light-table-header-text-color: #686868;
$theme-light-table-row-bg: $theme-light-bg-themeColor;
$theme-light-table-row-text: #2a2a2a;
$theme-light-table-searchbar-bg: #f6f6f6;

// View > Application
$theme-light-view-bg-color: #fff;
$theme-light-view-bg-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px,
  rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
$theme-light-view-header-text: #3a414a;
$theme-light-view-subheader-text: #6b6b6b;
$theme-light-view-info-bg: #f1f1f1;
$theme-light-view-info-text: #555555;

// Green button
$theme-light-btn-bg-color: #eefff6;
$theme-light-btn-text-color: #32ad1c;
// Red button
$theme-light-red-btn-bg-color: #ffeeee;
$theme-light-red-btn-text-color: #f23f3f;

// Add Application
$theme-light-addapp-header-color: #3a414a;
$theme-light-addapp-input-bg: #f6f6f6;
$theme-light-addapp-dropdown-bg: $theme-light-btn-bg-color;
$theme-light-addapp-radio-inactive-bg: #ededed;
$theme-light-addapp-radio-inactive-text: #979ea8;

// Dropdown
$theme-light-dropdown-bg: #f6f6f6;
$theme-light-dropdown-text: #3a414a;
$theme-light-dropdown-input-bg: $theme-light-dropdown-bg;
$theme-light-dropdown-focus-item: $theme-light-btn-bg-color;

// Dark--------------------------------------------------------------

// Dashboard
$theme-dark-bg-themeColor: #071808;

// Menu
$theme-dark-menu-text: #fff;
$theme-dark-action-button-bg: #0d4210;
$theme-dark-action-button-text: #fff;
$theme-dark-category-active-bg: #073409;
$theme-dark-category-count-bg: #0a5807;
$theme-dark-footer-menu-bg: $theme-dark-category-active-bg;
$theme-dark-settings-menu-bg: #1a4a24;
$theme-dark-settings-menu-active-bg: #31703e;
$theme-dark-settings-menu-text-color: #c8f5cb;

// Content
$theme-dark-content-bg-themeColor: #1c281e;
$theme-dark-header-text: #ebffee;
$theme-dark-table-header-bg: transparent;
$theme-dark-table-header-text-color: #e6ffe9;
$theme-dark-table-row-bg: $theme-dark-bg-themeColor;
$theme-dark-table-row-text: #eff3ff;
$theme-dark-table-searchbar-bg: #1c3421;

// View > Application
$theme-dark-view-bg-color: #202a20;
$theme-dark-view-bg-shadow: rgb(4 4 4 / 35%) 0px 2px 5px 0px,
  rgb(16 16 16 / 42%) 0px 1px 1px 0px;
$theme-dark-view-header-text: #e3fde3;
$theme-dark-view-subheader-text: #e1ffe5;
$theme-dark-view-info-bg: #022c05;
$theme-dark-view-info-text: #9fc7a2;

// Buttons
$theme-dark-btn-bg-color: #2c4a2d;
$theme-dark-btn-text-color: #62ad55;
// Red button
$theme-dark-red-btn-bg-color: #602a2a;
$theme-dark-red-btn-text-color: #f16f6f;

// Add Application
$theme-dark-addapp-header-color: #ebffef;
$theme-dark-addapp-input-bg: #162819;
$theme-dark-addapp-dropdown-bg: $theme-dark-btn-bg-color;
$theme-dark-addapp-radio-inactive-bg: #142817;
$theme-dark-addapp-radio-inactive-text: #487259;

// Dropdown
$theme-dark-dropdown-bg: $theme-dark-addapp-input-bg;
$theme-dark-dropdown-text: $theme-dark-table-row-text;
$theme-dark-dropdown-input-bg: $theme-dark-dropdown-bg;
$theme-dark-dropdown-focus-item: #143213;
