@use "shared.scss";

.menu-container {
  background-color: shared.$theme-light-bg-blue;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 35px;
  padding: 15px;
  padding-bottom: 0;
  font-family: shared.$font-sans-serif;
  .menu-header {
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    h2 {
      font-size: 25px;
      font-weight: 600;
    }
    button {
      border: none;
      cursor: pointer;
      padding: 10px 20px;
      align-self: flex-start;
      border-radius: 6px;
      display: flex;
      align-items: center;
      gap: 3px;
      span {
        font-size: 16px;
      }
      svg {
        width: 18px;
      }
    }
  }
  .menu-body {
    flex-grow: 1;
    .categories-container {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
  }
  .menu-footer {
    flex-grow: 0;
    display: flex;
    cursor: pointer;
    border-radius: 6px;
    align-items: center;
    gap: 8px;
    font-size: 16px;
    padding: 8px 0 8px 8px;
    position: relative;
    svg {
      width: 18px;
    }
    .user-settings {
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
      background-color: #fff;
      border-radius: 10px;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      gap: 5px;
      padding: 15px;
      position: absolute;
      // top: -120px;
      // bottom: -350%;
      // animation: slieUp 200ms ease-in-out forwards;
      left: 0;
      width: 100%;
      &.hidden {
        animation: slideDown 200ms ease-in-out forwards;
      }
      &.active {
        animation: slideUp 200ms ease-in-out forwards;
      }
      .user-setting {
        border-radius: 5px;
        color: #575757;
        padding: 7px;
        display: flex;
        align-items: center;
        gap: 5px;
        transition: 200ms;
        &:hover {
          background-color: #ebebeb;
          transition: 200ms;
        }
      }
    }
  }
  &.light {
    .menu-header {
      color: shared.$theme-light-header;
      button {
        background-color: shared.$theme-light-dark-btn-bg-blue;
        color: #fff;
      }
    }
    .menu-footer {
      background-color: shared.$theme-light-btn-bg-blue;
    }
  }
}

@keyframes slideUp {
  0% {
    bottom: 0%;
    opacity: 0;
  }
  50% {
    opacity: 0.1;
  }
  85% {
    opacity: 0.4;
  }
  100% {
    bottom: 130%;
    opacity: 1;
  }
}

@keyframes slideDown {
  0% {
    bottom: 130%;
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    bottom: 0%;
    opacity: 0;
  }
}
