@use "shared.scss";
@use "bluetheme.scss";

@mixin button($width, $bgColor, $textColor, $fontSize) {
  border: none;
  background-color: $bgColor;
  font-size: $fontSize;
  padding: 10px;
  border-radius: shared.$big-btn-radius;
  font-family: shared.$font-sans-serif;
  width: $width;
  cursor: pointer;
  color: $textColor;
}

@mixin themeButton($bg, $text) {
  background-color: $bg;
  color: $text;
  cursor: pointer;
  font-weight: 500;
  border: none;
  padding: 16px;
  border-radius: 10px;
}
