@use "shared.scss";

@mixin button($width, $bgColor, $textColor, $fontSize) {
  border: none;
  background-color: $bgColor;
  font-size: $fontSize;
  padding: 10px;
  border-radius: shared.$big-btn-radius;
  font-family: shared.$font-sans-serif;
  width: $width;
  cursor: pointer;
  color: $textColor;
}

@mixin themeButton {
  background-color: shared.$theme-light-bg-blue;
  color: shared.$theme-light-dark-blue-text-btn;
  cursor: pointer;
  font-weight: 500;
  border: none;
  padding: 16px;
  border-radius: 10px;
}
