@use "shared.scss";

.settings-container {
  .settings-header {
    h2 {
      font-size: shared.$font-size-heading;
      font-weight: 600;
    }
  }
  .settings-body {
    .settings-item {
      .item-title {
        display: flex;
        align-items: center;
        gap: 8px;
        h3 {
          font-size: shared.$font-size-subheading;
          font-weight: 500;
        }
      }
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 10px 0;
    }
  }
}
