@use "sass:math";

//------- UI colors -----------------------------------------------

// darkmode default colors login page
$theme-dark-login-bg: #161616;
$theme-dark-header: #d9d9d9;
$theme-dark-input-bg: #2e2e2e;
$theme-dark-input-text: #a3a3a3;
$theme-dark-login-btn-bg: #dfdfdf;
$theme-dark-login-btn-text: $theme-dark-login-bg;
$theme-dark-info-text: $theme-dark-header;

// lightmode default colors for login
$theme-light-login-bg: #fbfbfb;
$theme-light-header: #3a414a;
$theme-light-input-bg: #ededed;
$theme-light-input-text: #3a414a;
$theme-light-login-btn-bg: #c3c3c3;
$theme-light-login-btn-text: $theme-light-input-text;
$theme-light-info-text: $theme-light-header;

// input background on light mode
$input-background-light-gray: #ededed;
$input-text-light-gray: #979ea8;

// main text dark gray and light gray
$main-text-color: #3a414a;
$misc-text-color: #979ea8;

// backgrounds
$main-background-light: #fbfbfb;

// -------- Themes -------------------------------------------------

// Blue theme & light theme
$theme-light-bg-green: #daffda;
$theme-light-btn-bg-green: #bdfdbd;
$theme-light-dark-btn-bg-green: #57c957;
$theme-light-dark-green-text-btn: #369136;

// Blue theme & light theme
$theme-light-bg-blue: #eef6ff;
$theme-light-btn-bg-blue: #dbeafe;
$theme-light-dark-btn-bg-blue: #3c82f5;
$theme-light-dark-blue-text-btn: #3f84f2;

// Purple theme & light theme
$theme-light-bg-purple: #f8eeff;
$theme-light-btn-bg-purple: #ecd0ff;
$theme-light-dark-btn-bg-purple: #ac66dd;
$theme-light-dark-purple-text-btn: #a042e4;

// -------- Misc Variables ------------------------------------------
$input-border-radius: 15px;
$list-container-radius: 6px;
$big-btn-radius: 10px;

// -------- Typography -----------------------------------------
$font-serif: "DM Serif Display", serif;
$font-sans-serif: "DM Sans", sans-serif;

$font-size-heading-large: 35px;
$font-size-heading: 21px;
$font-size-large-icons: 20px;
$font-size-subheading: 16px;
$font-size-body: 12px;
$font-size-small: 10px;

// Calculate rem values based on root font size
$rem: 1rem; // set base rem value
$rem-value: 16px; // set root font size
$rem-factor: math.div(
  $rem-value,
  $rem
); // calculate rem factor based on root font size

// Define font sizes in rem units
$font-size-heading-large-rem: math.div($font-size-heading-large, $rem-factor);
$font-size-heading-rem: math.div($font-size-heading, $rem-factor);
$font-size-large-icons-rem: math.div($font-size-large-icons, $rem-factor);
$font-size-subheading-rem: math.div($font-size-subheading, $rem-factor);
$font-size-body-rem: math.div($font-size-body, $rem-factor);
$font-size-small-rem: math.div($font-size-small, $rem-factor);
