@use "shared.scss";
@use "bluetheme.scss";

.view-container {
  border-radius: 10px;
  position: absolute;
  padding: 15px;
  font-family: shared.$font-sans-serif;
  gap: 10px;
  top: 50%;
  transform: translateY(-50%);
  height: 95%;
  width: 400px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  &.hidden {
    animation: slideOut 200ms forwards;
  }
  &.active {
    animation: slideIn 200ms forwards;
  }
  &.lightblue {
    background-color: bluetheme.$theme-light-view-bg-color;
    box-shadow: bluetheme.$theme-light-view-bg-shadow;
  }

  // dark blue theme
  &.darkblue {
    background-color: bluetheme.$theme-dark-view-bg-color;
    box-shadow: bluetheme.$theme-dark-view-bg-shadow;
  }
}

@keyframes slideIn {
  0% {
    right: -400px;
    transition: 200ms;
  }
  100% {
    right: 15px;
    transition: 200ms;
  }
}

@keyframes slideOut {
  0% {
    right: 15px;
    transition: 200ms;
  }
  100% {
    right: -400px;
    transition: 200ms;
  }
}
