.new-app-container {
  background-color: #fff;
  box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
  border-radius: 10px;
  position: absolute;
  padding: 15px;
  font-family: "DM Sans", sans-serif;
  gap: 10px;
  top: 50%;
  transform: translateY(-50%);
  height: 95%;
  width: 400px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}
.new-app-container.hidden {
  animation: slideOut 200ms forwards;
}
.new-app-container.active {
  animation: slideIn 200ms forwards;
}
.new-app-container .new-app-heading {
  font-size: 25px;
  color: #3a414a;
  font-weight: bold;
  margin-bottom: 8px;
}
.new-app-container .new-app-input {
  position: relative;
}
.new-app-container .new-app-input input[type=text],
.new-app-container .new-app-input .job-info-textarea {
  background-color: #f6f6f6;
  border: none;
  font-size: 16px;
  padding: 15px 10px 15px 20px;
  width: 100%;
  border-radius: 10px;
}
.new-app-container .new-app-input .job-info-textarea {
  height: 200px;
}
.new-app-container .new-app-input .radio-options {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
}
.new-app-container .new-app-input .radio-options .radio-input {
  cursor: pointer;
  background-color: #ededed;
  color: #979ea8;
  padding: 10px 15px;
  border-radius: 50px;
  margin: 5px 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.new-app-container .new-app-input .radio-options .radio-input.active {
  background-color: #eef6ff;
  color: #3f84f2;
  transition: 250ms;
}
.new-app-container .submit-btn {
  background-color: #eef6ff;
  color: #3f84f2;
  cursor: pointer;
  font-weight: 500;
  border: none;
  padding: 16px;
  border-radius: 10px;
}

.sdp {
  position: absolute;
  background-color: #fff !important;
  z-index: 2;
  left: 50%;
  transform: translateX(-50%);
  border: 1px solid rgb(216, 216, 216) !important;
  --theme-color: #cacaca !important;
  --font: shared.$font-sans-serif !important;
}

@keyframes slideIn {
  0% {
    right: -400px;
    transition: 200ms;
  }
  100% {
    right: 15px;
    transition: 200ms;
  }
}
@keyframes slideOut {
  0% {
    right: 15px;
    transition: 200ms;
  }
  100% {
    right: -400px;
    transition: 200ms;
  }
}