.new-app-container {
  font-family: "DM Sans", sans-serif;
  gap: 10px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.new-app-container .new-app-heading {
  font-size: 21px;
  font-weight: bold;
  margin-bottom: 8px;
}
.new-app-container .new-app-input {
  position: relative;
}
.new-app-container .new-app-input input[type=text],
.new-app-container .new-app-input .job-info-textarea {
  border: none;
  font-size: 16px;
  padding: 15px 10px 15px 20px;
  width: 100%;
  border-radius: 10px;
}
.new-app-container .new-app-input .job-info-textarea {
  height: 200px;
}
.new-app-container .new-app-input .radio-options {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
}
.new-app-container .new-app-input .radio-options .radio-input {
  cursor: pointer;
  padding: 10px 15px;
  border-radius: 50px;
  margin: 5px 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.new-app-container .new-app-input .radio-options .radio-input.active {
  transition: 250ms;
}
.new-app-container .form-actions {
  display: flex;
  justify-content: space-between;
}
.new-app-container .form-actions .submit-btn,
.new-app-container .form-actions .cancel-btn,
.new-app-container .form-actions .delete-btn {
  cursor: pointer;
  font-weight: 500;
  padding: 16px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 5px;
}
.new-app-container .form-actions .submit-btn svg,
.new-app-container .form-actions .cancel-btn svg,
.new-app-container .form-actions .delete-btn svg {
  width: 15px;
}
.new-app-container.lightblue .new-app-heading {
  color: #3a414a;
}
.new-app-container.lightblue .new-app-input input[type=text],
.new-app-container.lightblue .new-app-input .job-info-textarea {
  background-color: #f6f6f6;
}
.new-app-container.lightblue .new-app-input .radio-options .radio-input {
  background-color: #ededed;
  color: #979ea8;
}
.new-app-container.lightblue .new-app-input .radio-options .radio-input.active {
  background-color: #eef6ff;
  color: #3f84f2;
}
.new-app-container.lightblue .form-actions .submit-btn,
.new-app-container.lightblue .form-actions .cancel-btn {
  background-color: #eef6ff;
  color: #3f84f2;
  cursor: pointer;
  font-weight: 500;
  border: none;
  padding: 16px;
  border-radius: 10px;
}
.new-app-container.lightblue .form-actions .delete-btn {
  background-color: #ffeeee;
  color: #f23f3f;
  cursor: pointer;
  font-weight: 500;
  border: none;
  padding: 16px;
  border-radius: 10px;
}
.new-app-container.darkblue .new-app-heading {
  color: #e0e6f3;
}
.new-app-container.darkblue .new-app-input input[type=text],
.new-app-container.darkblue .new-app-input .job-info-textarea {
  background-color: #1c2434;
}
.new-app-container.darkblue .new-app-input .radio-options .radio-input {
  background-color: #2f3c56;
  color: #4e638d;
}
.new-app-container.darkblue .new-app-input .radio-options .radio-input.active {
  background-color: #2a3c60;
  color: #82a0cf;
}
.new-app-container.darkblue .form-actions .submit-btn,
.new-app-container.darkblue .form-actions .cancel-btn {
  background-color: #2a3c60;
  color: #82a0cf;
  cursor: pointer;
  font-weight: 500;
  border: none;
  padding: 16px;
  border-radius: 10px;
}
.new-app-container.darkblue .form-actions .delete-btn {
  background-color: #602a2a;
  color: #f16f6f;
  cursor: pointer;
  font-weight: 500;
  border: none;
  padding: 16px;
  border-radius: 10px;
}
.new-app-container.lightgreen .new-app-heading {
  color: #3a414a;
}
.new-app-container.lightgreen .new-app-input input[type=text],
.new-app-container.lightgreen .new-app-input .job-info-textarea {
  background-color: #f6f6f6;
}
.new-app-container.lightgreen .new-app-input .radio-options .radio-input {
  background-color: #ededed;
  color: #979ea8;
}
.new-app-container.lightgreen .new-app-input .radio-options .radio-input.active {
  background-color: #eefff6;
  color: #32ad1c;
}
.new-app-container.lightgreen .form-actions .submit-btn,
.new-app-container.lightgreen .form-actions .cancel-btn {
  background-color: #eefff6;
  color: #32ad1c;
  cursor: pointer;
  font-weight: 500;
  border: none;
  padding: 16px;
  border-radius: 10px;
}
.new-app-container.lightgreen .form-actions .delete-btn {
  background-color: #ffeeee;
  color: #f23f3f;
  cursor: pointer;
  font-weight: 500;
  border: none;
  padding: 16px;
  border-radius: 10px;
}
.new-app-container.darkgreen .new-app-heading {
  color: #ebffef;
}
.new-app-container.darkgreen .new-app-input input[type=text],
.new-app-container.darkgreen .new-app-input .job-info-textarea {
  background-color: #162819;
}
.new-app-container.darkgreen .new-app-input .radio-options .radio-input {
  background-color: #142817;
  color: #487259;
}
.new-app-container.darkgreen .new-app-input .radio-options .radio-input.active {
  background-color: #003602;
  color: #62ad55;
}
.new-app-container.darkgreen .form-actions .submit-btn,
.new-app-container.darkgreen .form-actions .cancel-btn {
  background-color: #003602;
  color: #62ad55;
  cursor: pointer;
  font-weight: 500;
  border: none;
  padding: 16px;
  border-radius: 10px;
}
.new-app-container.darkgreen .form-actions .delete-btn {
  background-color: #602a2a;
  color: #f16f6f;
  cursor: pointer;
  font-weight: 500;
  border: none;
  padding: 16px;
  border-radius: 10px;
}

.sdp {
  position: absolute;
  background-color: #fff !important;
  z-index: 2;
  left: 50%;
  transform: translateX(-50%);
  border: 1px solid rgb(216, 216, 216) !important;
  --theme-color: #cacaca !important;
  --font: shared.$font-sans-serif !important;
}