.new-app-container {
  font-family: "DM Sans", sans-serif;
  gap: 10px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.new-app-container .new-app-heading {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 8px;
}
.new-app-container .new-app-input {
  position: relative;
}
.new-app-container .new-app-input input[type=text],
.new-app-container .new-app-input .job-info-textarea {
  border: none;
  font-size: 16px;
  padding: 15px 10px 15px 20px;
  width: 100%;
  border-radius: 10px;
}
.new-app-container .new-app-input .job-info-textarea {
  height: 200px;
}
.new-app-container .new-app-input .radio-options {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
}
.new-app-container .new-app-input .radio-options .radio-input {
  cursor: pointer;
  padding: 10px 15px;
  border-radius: 50px;
  margin: 5px 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.new-app-container .new-app-input .radio-options .radio-input.active {
  transition: 250ms;
}
.new-app-container .form-actions {
  display: flex;
  justify-content: space-between;
}
.new-app-container .form-actions .submit-btn,
.new-app-container .form-actions .cancel-btn {
  cursor: pointer;
  font-weight: 500;
  border: none;
  padding: 16px;
  border-radius: 10px;
}
.new-app-container.light .new-app-heading {
  color: #3a414a;
}
.new-app-container.light .new-app-input input[type=text],
.new-app-container.light .new-app-input .job-info-textarea {
  background-color: #f6f6f6;
}
.new-app-container.light .new-app-input .radio-options .radio-input {
  background-color: #ededed;
  color: #979ea8;
}
.new-app-container.blue .new-app-input .radio-options .radio-input.active {
  background-color: #eef6ff;
  color: #3f84f2;
}
.new-app-container.blue .form-actions .submit-btn,
.new-app-container.blue .form-actions .cancel-btn {
  background-color: #eef6ff;
  color: #3f84f2;
}

.sdp {
  position: absolute;
  background-color: #fff !important;
  z-index: 2;
  left: 50%;
  transform: translateX(-50%);
  border: 1px solid rgb(216, 216, 216) !important;
  --theme-color: #cacaca !important;
  --font: shared.$font-sans-serif !important;
}