.category-container {
  display: flex;
  align-items: center;
  gap: 7px;
  cursor: pointer;
  padding: 10px 15px;
  border-radius: 50px;
  width: 100%;
}
.category-container .cat-count {
  border-radius: 50px;
  font-size: 12px;
  color: #fff;
  min-width: 25px;
  min-height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.category-container h3 {
  font-size: 15px;
  font-weight: 600;
}
.category-container.lightblue {
  color: #3a414a;
}
.category-container.lightblue .cat-count {
  background-color: #3c82f5;
}
.category-container.lightblue.active {
  background-color: #dbeafe;
}
.category-container.darkblue {
  color: #b2bcc9;
}
.category-container.darkblue .cat-count {
  background-color: #3d4f6c;
}
.category-container.darkblue.active {
  background-color: #293c5a;
}