.category-container {
  display: flex;
  align-items: center;
  gap: 7px;
  cursor: pointer;
  padding: 10px 15px;
  border-radius: 50px;
  width: 100%;
}
.category-container .cat-count {
  background-color: #3c82f5;
  border-radius: 50px;
  font-size: 12px;
  color: #fff;
  min-width: 25px;
  min-height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.category-container h3 {
  font-size: 15px;
  font-weight: 600;
}
.category-container.light {
  color: #3a414a;
}
.category-container.light.active svg {
  fill-rule: evenodd;
}
.category-container.blue.active {
  background-color: #dbeafe;
}
.category-container.blue.active svg {
  fill: #3f84f2;
}
.category-container.blue svg {
  color: #3f84f2;
}