.content-container {
  display: flex;
  flex-direction: column;
  padding: 20px 15px;
  border-radius: 15px;
  overflow: auto;
}
.content-container .content-header {
  display: flex;
  justify-content: space-between;
  font-size: 21px;
  font-weight: 600;
  margin-bottom: 10px;
}
.content-container .content-header .header-title {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-basis: 85%;
}
.content-container .content-header .header-title .searchbar {
  border: none;
  font-size: 16px;
  padding: 15px 10px 15px 20px;
  border-radius: 10px;
  flex-basis: 60%;
}
.content-container .content-header .header-title h3 {
  flex-direction: 30%;
}
.content-container .content-header .header-settings {
  flex-basis: 15%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.content-container .content-header .header-settings svg {
  width: 25px;
}
.content-container .table-header,
.content-container .table-row {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 5px;
  grid-row-gap: 0px;
  font-family: "DM Sans", sans-serif;
  border-radius: 5px;
  padding: 18px 0;
  padding-left: 25px;
  padding-right: 25px;
}
.content-container .table-header:nth-child(even),
.content-container .table-row:nth-child(even) {
  background-color: transparent;
}
.content-container .table-header {
  font-weight: 600;
  margin-bottom: 0;
}
.content-container .table-row {
  cursor: pointer;
}
.content-container .table-row .header-item img {
  width: 24px;
  opacity: 0.7;
}
.content-container.lightblue .content-header {
  color: #3a414a;
}
.content-container.lightblue .content-header .header-title .searchbar {
  background-color: #f6f6f6;
}
.content-container.lightblue .table-header,
.content-container.lightblue .table-row {
  background-color: transparent;
}
.content-container.lightblue .table-header {
  color: #686868;
}
.content-container.lightblue .table-row {
  color: #2a2a2a;
}
.content-container.lightblue .table-row:nth-child(odd) {
  background-color: #eef6ff;
}
.content-container.darkblue .content-header {
  color: #e0e6f3;
}
.content-container.darkblue .content-header .header-title .searchbar {
  background-color: #1c2434;
}
.content-container.darkblue .table-header,
.content-container.darkblue .table-row {
  background-color: transparent;
}
.content-container.darkblue .table-header {
  color: #a2a5ad;
}
.content-container.darkblue .table-row {
  color: #a9aaad;
}
.content-container.darkblue .table-row:nth-child(odd) {
  background-color: #1e293b;
}