.dropdown-container {
  display: flex;
  flex-direction: column;
}
.dropdown-container .dropdown-header {
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  margin-bottom: 10px;
}
.dropdown-container .dropdown-list {
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1px;
}
.dropdown-container .dropdown-list .new-list-item {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 10px 10px;
  cursor: pointer;
  position: relative;
}
.dropdown-container .dropdown-list .new-list-item span {
  font-size: 15px;
}
.dropdown-container .dropdown-list .new-list-item svg {
  width: 18px;
  position: absolute;
  left: 5%;
  top: 50%;
  transform: translateY(-50%);
}
.dropdown-container .dropdown-list .new-list-item input {
  padding-left: 9%;
}
.dropdown-container .dropdown-list .dropdown-item {
  box-sizing: border-box;
  cursor: pointer;
  padding: 15px 10px;
}
.dropdown-container .dropdown-list.hidden {
  display: none;
}
.dropdown-container.lightblue {
  color: #3a414a;
}
.dropdown-container.lightblue .dropdown-header {
  background-color: #f6f6f6;
}
.dropdown-container.lightblue .dropdown-list {
  background-color: transparent;
  border: 1px solid #e3e3e3;
}
.dropdown-container.lightblue .dropdown-list .dropdown-item:hover {
  background-color: #eef6ff;
}
.dropdown-container.lightblue .dropdown-list .new-list-item:hover {
  background-color: transparent;
}
.dropdown-container.darkblue {
  color: #a9aaad;
}
.dropdown-container.darkblue .dropdown-header {
  background-color: #1c2434;
}
.dropdown-container.darkblue .dropdown-list {
  background-color: transparent;
  border: 1px solid #e3e3e3;
}
.dropdown-container.darkblue .dropdown-list .dropdown-item:hover {
  background-color: #4b5872;
}
.dropdown-container.darkblue .dropdown-list .new-list-item:hover {
  background-color: transparent;
}