.menu-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 35px;
  padding: 15px;
  padding-bottom: 0;
  font-family: "DM Sans", sans-serif;
}
.menu-container .menu-header {
  flex-grow: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.menu-container .menu-header h2 {
  font-size: 21px;
  font-weight: 600;
}
.menu-container .menu-header button {
  border: none;
  cursor: pointer;
  font-weight: 500;
  padding: 10px 20px;
  align-self: flex-start;
  border-radius: 6px;
  display: flex;
  align-items: center;
  gap: 3px;
}
.menu-container .menu-header button span {
  font-size: 16px;
}
.menu-container .menu-header button svg {
  width: 18px;
}
.menu-container .menu-body {
  flex-grow: 1;
}
.menu-container .menu-body .categories-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.menu-container .menu-footer {
  flex-grow: 0;
  display: flex;
  cursor: pointer;
  border-radius: 6px;
  align-items: center;
  gap: 8px;
  font-size: 16px;
  padding: 8px 0 8px 8px;
  position: relative;
}
.menu-container .menu-footer svg {
  width: 18px;
}
.menu-container .menu-footer .user-settings {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  background-color: #fff;
  border-radius: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 15px;
  position: absolute;
  left: 0;
  width: 100%;
}
.menu-container .menu-footer .user-settings.hidden {
  animation: slideDown 200ms ease-in-out forwards;
}
.menu-container .menu-footer .user-settings.active {
  animation: slideUp 200ms ease-in-out forwards;
}
.menu-container .menu-footer .user-settings .user-setting {
  border-radius: 5px;
  color: #575757;
  padding: 7px;
  display: flex;
  align-items: center;
  gap: 5px;
  transition: 200ms;
}
.menu-container .menu-footer .user-settings .user-setting:hover {
  background-color: #ebebeb;
  transition: 200ms;
}
.menu-container.lightblue .menu-header {
  color: #3a414a;
}
.menu-container.lightblue .menu-header button {
  color: #fff;
  background-color: #3c82f5;
}
.menu-container.lightblue .menu-footer {
  background-color: #dbeafe;
}
.menu-container.lightblue .menu-footer .user-settings {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  background-color: #fff;
}
.menu-container.lightblue .menu-footer .user-settings .user-setting {
  color: #575757;
}
.menu-container.lightblue .menu-footer .user-settings .user-setting:hover {
  background-color: #ebebeb;
}
.menu-container.darkblue .menu-header {
  color: #b2bcc9;
}
.menu-container.darkblue .menu-header button {
  color: #fff;
  background-color: #324c76;
}
.menu-container.darkblue .menu-footer {
  background-color: #293c5a;
  color: #b1c2dd;
}
.menu-container.darkblue .menu-footer .user-settings {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  background-color: #324462;
}
.menu-container.darkblue .menu-footer .user-settings .user-setting {
  color: #b1c2dd;
}
.menu-container.darkblue .menu-footer .user-settings .user-setting:hover {
  background-color: #26344a;
}
.menu-container.lightgreen .menu-header {
  color: #3a414a;
}
.menu-container.lightgreen .menu-header button {
  color: #fff;
  background-color: #228b40;
}
.menu-container.lightgreen .menu-footer {
  background-color: #cefbd6;
}
.menu-container.lightgreen .menu-footer .user-settings {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  background-color: #fff;
}
.menu-container.lightgreen .menu-footer .user-settings .user-setting {
  color: #575757;
}
.menu-container.lightgreen .menu-footer .user-settings .user-setting:hover {
  background-color: #ebebeb;
}
.menu-container.darkgreen .menu-header {
  color: #fff;
}
.menu-container.darkgreen .menu-header button {
  color: #fff;
  background-color: #0d4210;
}
.menu-container.darkgreen .menu-footer {
  background-color: #073409;
  color: #c8f5cb;
}
.menu-container.darkgreen .menu-footer .user-settings {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  background-color: #1a4a24;
}
.menu-container.darkgreen .menu-footer .user-settings .user-setting {
  color: #c8f5cb;
}
.menu-container.darkgreen .menu-footer .user-settings .user-setting:hover {
  background-color: #31703e;
}

@keyframes slideUp {
  0% {
    bottom: 0%;
    opacity: 0;
  }
  50% {
    opacity: 0.1;
  }
  85% {
    opacity: 0.4;
  }
  100% {
    bottom: 130%;
    opacity: 1;
  }
}
@keyframes slideDown {
  0% {
    bottom: 130%;
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    bottom: 0%;
    opacity: 0;
  }
}