.settings-container .settings-header h2 {
  font-size: 21px;
  font-weight: 600;
}
.settings-container .settings-body .settings-item {
  padding: 15px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
}
.settings-container .settings-body .settings-item .item-title {
  display: flex;
  align-items: center;
  gap: 8px;
}
.settings-container .settings-body .settings-item .item-title h3 {
  font-size: 16px;
  font-weight: 500;
}
.settings-container .settings-body .settings-item .item-action {
  cursor: pointer;
}